* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c5e4e7;
  font-family: "Space Mono", monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.calculator {
  background-color: #fff;
  width: 921px;
  height: 481px;
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  padding: 32px;
  box-shadow: 8px 16px 16px rgba(0, 0, 0, 0.07);
}

/* WHITE BOX */

.calculator__container--white {
  width: 413px;
  height: 417px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.calculator__label--white {
  display: block;
  color: #5e7a7d;
  margin-bottom: 8px;
}

.calculator--bill,
.calculator--people {
  position: relative;
}

.icons {
  position: absolute;
  top: 47px;
  left: 20px;
}

input {
  background-color: #f4fafa;
  font-family: inherit;
  font-size: 24px;
  text-align: right;
  color: #00494d;
  caret-color: #26c0ab;
  width: 379px;
  height: 48px;
  border-radius: 5px;
  border: none;
  padding: 0 20px;
  cursor: pointer;
}

input:focus {
  outline-color: #26c0ab;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.calculator__input::placeholder {
  color: #a4b8b9;
}

.calculator--select-tip div {
  width: 379px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.calculator__tip {
  background-color: #00494d;
  font-family: inherit;
  font-size: 24px;
  color: #f4fafa;
  width: 117px;
  height: 48px;
  border: none;
  border-radius: 5px;
  margin: 8px 7px;
  cursor: pointer;
}

button:focus {
  background-color: #26c0ab;
  color: #00494d;
}

button:active {
  background-color: #c5e4e7;
  color: #00494d;
}

#calculator__tip-custom {
  background-color: #f4fafa;
  color: #00494d;
  text-align: right;
  padding: 0 10px;
}

#calculator__tip-custom::placeholder {
  color: #5e7a7d;
  text-align: center;
}

.calculator__label--people {
  display: flex;
  justify-content: space-between;
}

.warning {
  color: #ff6b6b;
}

.hidden {
  display: none;
}

/* GREEN BOX */

.calculator__container--green {
  background-color: #00494d;
  width: 413px;
  height: 417px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  padding: 40px;
}

.calculator__output {
  display: flex;
  flex-direction: column;
}

.calculator__per-person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 14px 0;
}

.calculator__label--green {
  color: #c5e4e7;
  font-size: 15px;
}

.calculator__label--green span {
  color: #7f9c9f;
  font-size: 13px;
}

.calculator__amount {
  font-size: 48px;
  color: #26c0ab;
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.calculator__btn--reset {
  background-color: #26c0ab;
  font-family: inherit;
  font-size: 20px;
  color: #00494d;
  width: 333px;
  height: 48px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 920px) {
  body {
    gap: 40px;
  }

  #logo {
    margin-top: 50px;
  }

  .calculator {
    width: 375px;
    height: 789px;
    flex-direction: column;
    padding: 32px 24px;
  }

  .calculator__container--white {
    width: 327px;
    height: 435px;
    justify-content: space-between;
  }

  .calculator__input {
    width: 311px;
  }

  .calculator--select-tip div {
    width: 310px;
    height: 185px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .calculator__tip {
    width: 146px;
    margin: 8px;
  }

  .calculator__container--green {
    width: 327px;
    height: 257px;
    padding: 24px;
  }

  .calculator__per-person {
    margin: 10px 0;
  }

  .calculator__amount {
    font-size: 32px;
    width: 150px;
    height: 40px;
  }

  .calculator__btn--reset {
    width: 281px;
  }

  .attribution {
    display: none;
  }
}
